* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#gameCanvas {
  background-color: #eeabce;
  font-smooth: never;
  -webkit-font-smoothing: none;
  /* transform-origin: left top;
  transform: scale(0.5); */
  /* background-image: url("./flappybirdbg.png"); */
}
